dist
node_modules
.env
/src/generated/prisma

/src/generated/prisma

/prisma/src/generated/prisma

/prisma/generated/prisma

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma
